body{
    background-image: url(./img/derevyami_2_1.jpg);
    
}
.header{
    background-color: red;
    height: 100px;
    width: 100%;
    margin-right: auto;
}

#invest{
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 40px;
    height: 200px;
    width: 350px;
    background-color: yellow;
    
    
}

.text p{
    padding: 45px;

}
#photo{
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 40px;
    height: 200px;
    width: 350px;
    background-color: green;
    margin-left:15%;
}